<ion-view view-title="LEAVE">
  <ion-content class="">
    <ion-list>
      <ion-item id="alarm"
                class="item-remove-animate item-icon-right text-center"
                type="item-text-wrap"
                class="text-center">
                <div ng-show="input.time != '' ">
                  <p>You are going from <br>
                    {{input.fromStation.Station}} <br>
                    to {{input.toStation.Station}} <br>
                    at {{input.time}}. </p>
                  <p class="leaveMessage">{{ dashboardMessage }}</p>
                </div>
      </ion-item>

      <ion-item id="travelPlan" class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/travelPlan">
        <p>Create a new journey</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item id="weather" class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/weather">
        <h2> Current Weather </h2>
        <ul id='currentWeather' ng-controller='WeatherCtrl as controller'>
         <li>London:</li>
         <li id='weatherDesc'>{{ description }}</li>
         <li id='weatherTemp'>{{ temperature }}&#8451;</li>
       </ul>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
